# Packages listed in alphabetical order

# For any non-Jetson computer (i.e. all developers)
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.1
torchvision==0.19.1
ultralytics

# Linters and formatters are explicitly versioned
black==24.2.0
flake8-annotations==3.0.1
pylint==3.0.3
